 <div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
            <%= image_tag @user.avatar, class: "avatar-big" %>
            <h2>Pseudo: <%= @user.username %></h2>
            <p>Prénom: <%= @user.first_name %></p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h5>Réponses</h5>
            <p><%= @user.answers.count %></p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h5>Exercices</h5>
            <p><%= @user.exercices.count %></p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h5>Likes</h5>
            <p><%= @user.votes.size %></p>
          </div>
        </div>
        <div class="bio">
          <div class="bio-content">
            <h3>More about <%= @user.username %></h3>
            <p class="text-justify">
              <%= @user.bio %>
            </p>
          </div>
        </div>
      </div>
    </div>
