<div class="answer">
  <!-- <div class="answer-content">
    <%= answer.content %>
  </div> -->
  <div class="answer-infos">
    <div class="avatar-username">
      <h6><%= image_tag answer.user.avatar || answer.user.facebook_picture_url || 'https://api.adorable.io/avatars/285/abott@adorable.png', class: "avatar-answer" %>&nbsp;</h6>
      <h6 class="avatar-hidden"><%= link_to answer.user.username, user_path(answer.user) %></h6>
    </div>
    <!-- recup max votes -->
    <% maxvote = 1 %>
    <% @exercice.answers.each do |ans| %>
      <% if ans.votes_for.size >= maxvote %>
        <% maxvote = ans.votes_for.size %>
      <% end %>
    <% end %>

    <% if answer.votes_for.size == maxvote %>
      <div class="congrats-winner">Félicitations <%= answer.user.username %>, tu es en tête des votes!</div>
    <%end %>
    <div class="likes-comments" id='answer_id_<%= answer.id %>'>
      <%= render 'answers/like', answer: answer %>
    </div>
  </div>

  <div class="answer-content">
    <%= simple_format answer.content %>
  </div>


  <div class="comments-container">
    <% if answer.comments.count == 0 %>
      <div class="show-comments">
        Commenter
      </div>
    <% else %>
      <div class="show-comments">
        <%= pluralize answer.comments.count, "Commentaire" %>
      </div>
    <% end %>
    <div class="hide-comments">
      Masquer
    </div>
    <div class="answer-comments">
      <% if answer.comments.count != 0 %>
        <ul>
          <% answer.comments.each do |comment| %>
            <div class="comment-content">
              <li><%= comment.content %></li>
              <div class="commentor">
                <li>par&nbsp;</li>
                <li class="user-commentor"><%= comment.user.username %></li>
              </div>
            </div>
          <% end %>
        </ul>
      <% else %>

    <% end %>

        <div class="new-comment">
        <%= simple_form_for [answer, @comment] do |c| %>
          <%= c.input :content, label: '', placeholder: 'Écrivez un commentaire'  %>
          <%= c.submit 'Commenter', class: "orange_color" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
