<div class="container">
  <div class="tab">
    <button class="tablinks active" onclick="openDashTab(event, 'MyAnswers')">Mes réponses</button>
    <button class="tablinks" onclick="openDashTab(event, 'MyExercices')">Mes exercices</button>
    <button class="tablinks" onclick="openDashTab(event, 'MyProfile')">Mon profil</button>

  </div>

  <div id="MyAnswers" class="tabcontent" style="display:block;">
    <% @answers.each do |answer|%>
      <div class="row">
        <div class="col-xs-12">
          <div class="dash-answer">
            <div class="dash-answer-exercice-title">
              <h3><%= link_to answer.exercice.title, exercice_path(answer.exercice.id), class: "dash-answer-exercice-title-link" %></h3>
            <div class="dash-answer-exercice-status" id="status-replace"><p><%= answer.status %></p>
            </div>
            </div>
            <div class="dash-answer-all">
              <div class="dash-answer-exercice-begin"><p><%= answer.exercice.beginning_story %></p></div>
              <div class="dash-answer-content"><p><%= answer.content %></p></div>
              <div class="dash-answer-exercice-end"><p><%= answer.exercice.end_story %></p></div>
              <div class="date-date">
            <div class="dash-answer-exercice-date"><%= answer.exercice.updated_at.strftime("%m/%d/%y") %></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="MyExercices" class="tabcontent">
    <% @exercices.each do |exercice|%>
      <div class="row">
        <div class="col-xs-12">
          <div class="dash-exercice">
            <div class="dash-answer-exercice-title"><h3><%= exercice.title %></h3>
            <div class="dash-answer-exercice-status" id="status-replace"><p><%= exercice.status %></p></div>
            </div>
            <div class="dash-exercice-all">
              <div class="dash-answer-titre-debut"><h6>Votre début :</h6></div>
              <div class="dash-answer-exercice-begin"><p><%= exercice.beginning_story %></p></div>
              <div class="dash-answer-titre-fin"><h6>Votre fin :</h6></div>
              <div class="dash-answer-exercice-end"><p><%= exercice.end_story %></p></div>
              <div class="date-date">
            <div class="dash-answer-exercice-date"><%= exercice.updated_at.strftime("%m/%d/%y") %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="MyProfile" class="tabcontent">
    <div class="profile-content text-center">
      <div class="profile-avatar">
        <%= image_tag @current_user.avatar || @current_user.facebook_picture_url || 'https://api.adorable.io/avatars/285/abott@adorable.png', class: "avatar-big" %>
      </div>
      <div class='profile-stats'>
        <h5>Réponses</h5>
        <p class="numbers"><%= @current_user.answers.count %></p>
      </div>
      <div class="profile-stats">
        <h5>Exercices</h5>
        <p class="numbers"><%= @current_user.exercices.count %></p>
      </div>
      <div class="profile-stats">
        <h5>Likes</h5>
        <p class="numbers"><%= @current_user.votes.count %></p>
      </div>
    </div>
    <div class="form-container">
      <%= simple_form_for @current_user do |u| %>
        <%= u.input :username %>
        <%= u.input :first_name, class: 'form-control' %>
        <%= u.input :last_name %>
        <%= u.input :email, class: 'form-control'  %>
        <%= u.input :bio, class: 'form-control' %>
        <%= u.submit "Sauvegarder", class: "btn", id: "Save-btn" %>
      <% end %>
    </div>
  </div>

  <br>
  <br>
</div>

