<div class="container">
<!-- <div class="btn-prev-next">
    <div class="btn-danger hide-btn" id="answer-previous">previous</div>
    <div class="btn-danger" id="answer-next">next</div>
  </div> -->
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card card-answer-show" id="card-grid-exercices">
        <div class="card-image card-image-answer-show" style="background-image: url(<%= cl_image_path @answer.exercice.photo, crop: :fit; %>)">
        </div>
        <div class="card-answer-show-details">
          <div class="card-answer-show-titre">
            <h4><%= @answer.exercice.title %></h4>
          </div>
          <div class="card-answer-show-date">
            <p><%= @answer.exercice.updated_at %></p>
          </div>
          <div>
            <%= image_tag avatar_url = @answer.exercice.user.avatar, class: "card-answer-show-avatar" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="answer-begin-to-end">

        <div class="answer-show-begin-story">
          <p><%= @answer.exercice.beginning_story %></p>
        </div>

        <div class="answer-show-middle-story-wrapper">

        <div class="answer-show-middle-story-all">

            <div class="answer-show-middle-story">
                <div id="ma-story" class="list-answers active">
                  <p>
                    <%= @answer.content %>
                  </p>
                </div>
                <% @answers.each do |answer| %>
                  <% if answer != @answer  %>
                    <div class="list-answers">
                      <p>
                        <%= answer.content %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
            </div>

          <div class="btn-prev-next text-center">
            <ul class="list-inline">
              <li><div class="btn-danger hide-btn" id="answer-previous">previous</div></li>
              <li><div class="btn-danger" id="answer-next">next</div></li>
            </ul>
          </div>

          </div>

        </div>


        <div class="answer-show-end-story">
          <p><%= @answer.exercice.end_story %></p>
        </div>

      </div>
    </div>
  </div>
</div>
