<% @exercices.each do |exercice|%>
  <div class="col-xs-12 col-sm-6">
    <div class="card" id="card-grid-exercices">

      <% @exercices.drop(1).each do |exercice|%>
        <div class="col-xs-12 col-sm-6">
          <div class="card">
      <div class="card-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path exercice.photo, crop: :fit, height: 200; %>)">
      </div>

      <div class="card-category">
        <h6><%= exercice.title %></h6>
      </div>

      <div class="card-details">
        <div class="card-beginning">
          <p><%= exercice.beginning_story %></p>
          <hr>
          <p><%= exercice.end_story %></p>
        </div>
      </div>
      <%= link_to "", exercice_path(exercice), class: "card-link" %>
    </div>
  </div>
<% end %>

