
<div class="container">
  <div class="row card-banner">
        <div class="col-xs-12">
          <div class="exo-title">
            <h5>Challenge du moment</h5>
          </div>
          <div class="card-first">

            <%= @exercices.first.id %>
            <div class="card-image-first" style="background-image: url(<%= cl_image_path @exercices.first.photo, crop: :fill %>)">
            </div>

            <div class="card-category">
              <h2><%= @exercices.first.title %></h2>
            </div>

            <div class="card-details">

              <div class="card-beginning">
                <h6>On vous donne le début...</h6>
                <p>"<%= @exercices.first.beginning_story %>"</p>
              </div>

              <div class="card-start-writing">
                <h4> <%= link_to "Complète l'histoire!", exercice_path(@exercices.first)%></h4>
              </div>

              <div class="card-end">
                <h6>On vous donne la fin...</h6>
                <p>"<%= @exercices.first.end_story %>"</p>
              </div>

            </div>
            <%= link_to "", exercice_path(@exercices.first), class: "card-link" %>
          </div>


        <div class="exo-title">
          <h5>Les anciens challenges</h5>
        </div>
    </div>

  <%= render 'exercicelist' %>
</div>
