
<div class="container">

  <div class="row card-banner">
        <div class="col-xs-12">
          <div class="card-first">
            <%= @exercices.first.id %>
            <div class="card-image-first" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
             url('<%= cl_image_path @exercices.first.photo, crop: :fill %>')">
            </div>

            <div class="card-category">
              <p><%= @exercices.first.title %></p>
            </div>

            <div class="card-user">
              <p>by <%= User.find(@exercices.first.user_id).username %></p>
            </div>

            <div class="card-details">
              <div class="card-beginning">
                <p><%= @exercices.first.beginning_story %></p>
              </div>
              <div class="card-end">
                <p><%= @exercices.first.end_story %></p>
              </div>
            </div>
            <%= link_to "", exercice_path(@exercices.first), class: "card-link" %>
          </div>
        </div>
        <div class="exo-title">
          <h1>Les exos</h1>
        </div>
    </div>

  <%= render 'exercicelist' %>

</div>
