

<!-- <div class="cards"> -->
<div class="container">
  <div class="row card-banner">
        <div class="col-xs-12">
          <div class="exo-title">
            <h5>Challenge du moment</h5>
          </div>
          <div class="card-first">
            <div class="card-image-first" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
             url('http://res.cloudinary.com/dd6ibmn7p/image/upload/v1503326204/q5ugc6xjyp8c3vdsjfmi.jpg')">
            </div>

            <div class="card-category">
              <p><%= @exercices.first.title %></p>
            </div>

            <div class="card-user">
              <p>by <%= User.find(@exercices.first.user_id).username %></p>
            </div>

            <div class="card-details">
              <div class="card-beginning">
                <p><%= @exercices.first.beginning_story %></p>
              </div>
              <div class="card-end">
                <p><%= @exercices.first.end_story %></p>
              </div>
            </div>
            <%= link_to "", exercice_path(@exercices.first), class: "card-link" %>
          </div>
           <div class="exo-title">
            <h5>Les exos</h5>
          </div>
        </div>
      <%= render 'form' %>
  </div>
</div>
