<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <div class="form-post">
      <h1>Crée ton exercice !</h1>
      <%= simple_form_for(@exercice) do |f| %>
      <%= f.input :title %>
      <%= f.input :beginning_story, placeholder: "Il était une fois..." %>
      <%= f.input :end_story, placeholder: "Ils vécurent heureux..."%>



      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
