<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-offset-2">
     <div class="form-container", id="form-post" >
      <h1>Ecris ton histoire !</h1>
      <%= simple_form_for(@exercice) do |f| %>
      <%= f.input :title %>
      <%= f.input :beginning_story, placeholder: "Il était une fois..." %>
      <%= f.input :end_story, placeholder: "Ils vécurent heureux..."%>



      <%= f.input :photo %>


          <div id="photo-button">
            <%= f.input :photo_cache, as: :hidden %>
          </div>
        <div class="button">
        <%= f.submit "Sauvegarder", class: "btn", id: "Save-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
