<div id="exercice-show" class="wrapper">
  <div class="exercice-container text-center">

    <div class="instructions">
      <div class="exercice-infos">
        <div class="creator-avatar">
          <%= image_tag @exercice.user.avatar, class: "avatar-middle" %>
          <div class="creator-flexbox">
            <p>créé par <%= link_to @exercice.user.username, user_path(@exercice.user)%></p>
            <p>le <%= @exercice.created_at.strftime("%m/%d/%y") %></p>
          </div>
        </div>
      </div>
      <div class="exercice-title">
        <h2><%= @exercice.title %></h2>
      </div>
      <div class="time-status">
        <div class="time-remaining">
          <i class="fa fa-hourglass-half" aria-hidden="true"></i> 2 jours restants
        </div>
        <div class="answers-number">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= @exercice.answers.where(status: "published").count %> participants
        </div>

        <div class="exercice-status">
          <% if @exercice.answers.where(user: current_user, status: "published").count >= 1 %>
            <div class= "btn-done-answer"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Vous avez réalisé l'exercice
            </div>
          <% elsif @exercice.answers.where(user: current_user, status: "pending").count >= 1 %>
            <div class= "btn-try"><i class="fa fa-times" aria-hidden="true"></i> Vous n'avez pas encore publié votre réponse
            </div>
          <% else %>
            <div class= "btn-try" id="text-copy">À vous d'écrire entre les lignes !
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="answers">
      <div id="answer-form-block">
        <% if @answer.status == "pending" %>
        <div class="user-answer">
          <div id="answer_form_wrapper">
            <%= render 'answers/form', exercice: @exercice, answer: @answer %>
          </div>

        </div>
        <% end %>


      </div>
      <div class="other-answers" id='answers-index'>
        <ul>
          <% if @answer.status == "published" %>
            <%= render 'answers/show', answer: @answer %>
          <% end %>
          <div class="other-users-intro"><h5>Réponses des autres utilisateurs...</h5></div>
          <% @answers.each do |answer| %>
            <% next if answer == @answer %>
            <%= render 'answers/show', answer: answer %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>








