<div class="exercice-content">

  <div class="instructions">
    <div class="photo-exercice">
      <%= image_tag @exercice.photo.url %>
      <div class="photo-exercice-filter">
        <h3><%= @exercice.title %></h3>
      </div>
    </div>
    <div class="exercice-info">
      <div class="plays-count">
        <% if @exercice.answers.count == 0 %>
        <h6 class="no-answer"><%= @exercice.answers.count %> réponse</h6>
        <% elsif @exercice.answers.count == 1 %>
        <h6><%= @exercice.answers.count %> réponse</h6>
        <% else %>
        <h6><%= @exercice.answers.count %> réponses</h6>
        <% end %>
      </div>
      <p class="beginning-story"><%= @exercice.beginning_story %></p>
      <div class="button-exercice">
        <% if @exercice.answers.where(user: current_user).count >= 1 %>
          <div class= "btn-done-answer">Vous avez déjà réalisé l'exercice</div>
        <% else %>
          <div class= "btn-try">En attente de votre réponse</div>
        <% end %>
      </div>
      <p class="end-story"><%= @exercice.end_story %></p>
    </div>
  </div>

  <div class="answers">
    <% unless @exercice.answers.where(user: current_user).count >= 1 %>
      <div class="user-answer">
        <%= simple_form_for [@exercice, @answer] do |a| %>
          <%= a.input :content, label: 'Votre réponse' %>
          <%= a.submit 'Répondre' %>
        <% end %>
      </div>
    <% end %>

    <div class="other-answers">
      <ul>
        <% @exercice.answers.each do |answer| %>
          <div class="answer">
            <div class="answer-content">
              <li><%= answer.content %></li>
            </div>
            <div class="answer-infos">
              <div class="avatar-username">
                <h6>par&nbsp;</h6>
                <h6 class="avatar-hidden"><%= answer.user.username %></h6>
                <%= image_tag answer.user.photo %>
              </div>
              <div class="likes-comments">
                <% if answer.votes_for.size == 0 %>
                  <div class="likes">
                    <%= link_to answers_like_path(answer) do %>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <%= answer.votes_for.size %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="liked">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <%= answer.votes_for.size %>
                  </div>
                <% end %>
                <div class="comments">
                  <i class="fa fa-comments" aria-hidden="true"></i>
                  <%= answer.comments.count %>
                </div>
              </div>
            </div>
            <div class="comments-container">
              <div class="show-comments">
                Show comments (<%= answer.comments.count %>)
              </div>
              <div class="hide-comments">
                Hide comments
              </div>
              <div class="answer-comments">
                <% if answer.comments.count != 0 %>
                  <ul>
                    <% answer.comments.each do |comment| %>
                      <div class="comment-content">
                        <li><%= comment.content %></li>
                        <li>par <%= comment.user.username %></li>
                      </div>
                    <% end %>
                  </ul>
                <% else %>
                  <p>Pas de commentaire pour cette réponse</p>
                <% end %>
              </div>
            </div>
            <div class="new-comment">
              <%= simple_form_for [answer, @comment] do |c| %>
                <%= c.input :content, label: 'Votre commentaire'  %>
                <%= c.submit 'Commenter' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>



