<div class="exercice-content">
  <div class="instructions">
    <div class="photo-exercice">
      <%= image_tag @exercice.photo %>
    </div>
    <div class="exercice-info">
      <h1><%= @exercice.title %></h1>
      <p><%= @exercice.beginning_story %></p>
      <button class= "btn btn-success">A toi de jouer</button>
      <p><%= @exercice.end_story %></p>
    </div>
  </div>

  <div class="answers">
    <div class="user-answer">
      <%= simple_form_for [@exercice, @answer] do |a| %>
        <%= a.input :content %>
        <%= a.submit %>
      <% end %>
    </div>
    <div class="answer-info">
      <% @exercice.answers.each do |answer| %>
      <%= answer.content %>
      <% end %>
    </div>
  </div>
</div>
