<div class="exercice-content">

  <div class="instructions">
    <div class="photo-exercice">
      <% if !@exercice.photo.url.nil? %>
        <%= cl_image_tag @exercice.photo, width: 379, height: 200, crop: :fill, gravity: :north %>
      <% end  %>
        <div class="photo-exercice-filter">
        <h3><%= @exercice.title %></h3>
      </div>
    </div>
    <div class="exercice-info">
      <h6>Début:</h6>
      <p class="beginning-story"><%= @exercice.beginning_story %></p>
      <div class="button-exercice">
        <% if @exercice.answers.where(user: current_user, status: "published").count >= 1 %>
          <div class= "btn-done-answer">Vous avez réalisé l'exercice</div>
        <% elsif @exercice.answers.where(user: current_user, status: "pending").count >= 1 %>
          <div class= "btn-try">Vous n'avez pas encore publié votre réponse</div>
        <% else %>
          <h6>Coeur de l'histoire:</h6>
          <div class= "btn-try" id="text-copy">À vous d'écrire entre les lignes !</div>
        <% end %>
      </div>
      <div class="end-story">
        <h6>Fin:</h6>
        <%= @exercice.end_story %>
      </div>
    </div>
  </div>

  <div class="answers">
    <div id="answer-form-block">
      <% if @answer.status == "pending" %>
        <div class="user-answer">
        <div class="word-counter">
          <p># de mots:&nbsp;</p> <p id="words-count"></p>
        </div>
        <div id='save-auto' class='answer_auto_save'>
        </div>
          <div id="answer_form_wrapper">
            <%= render 'answers/form', exercice: @exercice, answer: @answer %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="other-answers" id='answers-index'>
      <ul>
        <% if @answer.status == "published" %>
          <div class="my-answer">
            <%= render 'answers/show', answer: @answer %>
          </div>
        <% end %>

        <% @answers.each do |answer| %>
          <% next if answer == @answer %>
          <%= render 'answers/show', answer: answer %>
        <% end %>
      </ul>
    </div>
  </div>
</div>









