<div class="exercice-content">

  <div class="instructions">
    <div class="photo-exercice">
      <% if !@exercice.photo.url.nil? %>
        <%= image_tag @exercice.photo.url %>
      <% end  %>
        <div class="photo-exercice-filter">
        <h3><%= @exercice.title %></h3>
      </div>
    </div>
    <div class="exercice-info">
      <p class="beginning-story"><%= @exercice.beginning_story %></p>
      <div class="button-exercice">
        <% if @exercice.answers.where(user: current_user, status: "published").count >= 1 %>
          <div class= "btn-done-answer">Vous avez réalisé l'exercice</div>
        <% elsif @exercice.answers.where(user: current_user, status: "pending").count >= 1 %>
          <div class= "btn-try">Vous n'avez pas encore publié votre réponse</div>
        <% else %>
          <div class= "btn-try">En attente de votre réponse</div>
        <% end %>
      </div>
      <p class="end-story"><%= @exercice.end_story %></p>
    </div>
  </div>

  <div class="answers">
    <div id="answer-form-block">
      <% if @exercice.answers.where(user: current_user, status: "published").count >= 1 %>
      <% elsif @exercice.answers.where(user: current_user, status: "pending").count >= 1 %>
        <h4>Finir le challenge</h4>
      <% else %>
        <h4>Réaliser le challenge</h4>
      <% end %>
      <% if @answer.status == "pending" %>
        <div class="user-answer">
        <div class="word-counter">
          <p>Compteur de mots:&nbsp;</p> <p id="words-count"></p>
        </div>
          <div id="answer_form_wrapper">
            <%= render 'answers/form', exercice: @exercice, answer: @answer %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="other-answers" id='answers-index'>
      <h4 class="plays-count">
        <% if @exercice.answers.where(status: "published").count == 0 %>
        <% elsif @exercice.answers.where(status: "published").count == 1 %>
          Réponse ( <%= @exercice.answers.where(status: "published").count %> )
        <% else %>
          Réponses ( <%= @exercice.answers.where(status: "published").count %> )
        <% end %>
      </h4>
      <ul>
        <% @answers.each do |answer| %>
          <%= render 'answers/show', answer: answer %>
        <% end %>
      </ul>
    </div>
  </div>
</div>










