<div class="exercice-content">
  <div class="instructions">
    <div class="photo-exercice">
      <%= image_tag @exercice.photo %>
        <div class="photo-exercice-filter">
        <h3><%= @exercice.title %></h3>
        </div>
      </div>
      <div class="exercice-info">
        <p class="beginning-story"><%= @exercice.beginning_story %></p>
        <div class="button-exercice">
          <% if @exercice.answers.where(user: current_user).count >= 1 %>
            <button class= "btn btn-warning">Exercice fait</button>
          <% else %>
            <button class= "btn btn-success">A toi de jouer</button>
          <% end %>
        </div>
        <p class="end-story"><%= @exercice.end_story %></p>
      </div>
    </div>

  <div class="answers">
    <% unless @exercice.answers.where(user: current_user).count >= 1 %>
      <div class="user-answer">
        <%= simple_form_for [@exercice, @answer] do |a| %>
          <%= a.input :content %>
          <%= a.submit %>
        <% end %>
      </div>
    <% end %>
    <div class="other-answers">
      <ul>
        <% @exercice.answers.each do |answer| %>
          <div class="answer">
            <div class="answer-content">
              <li><%= answer.content %></li>
            </div>
            <div class="answer-infos">
              <div class="avatar-username">
                <p>maxou</p>
              </div>
              <div class="likes-comments">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-comments" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
