<div class="wrapper">
  <div class="exercice-container text-center">

    <div class="instructions">

      <div class="exercice-title">
          <h3><%= @exercice.title %></h3>
      </div>

      <div class="exercice-status">
        <% if @exercice.answers.where(user: current_user, status: "published").count >= 1 %>
          <div class= "btn-done-answer">Vous avez réalisé l'exercice</div>
        <% elsif @exercice.answers.where(user: current_user, status: "pending").count >= 1 %>
          <div class= "btn-try">Vous n'avez pas encore publié votre réponse</div>
        <% else %>
          <div class= "btn-try" id="text-copy">À vous d'écrire entre les lignes !</div>
        <% end %>
      </div>

      <div class="exercice-infos">
        <div class="answers-number">
          <%= @exercice.answers.where(status: "published").count %>
        </div>

        <div class="creator-avatar">
          <%= image_tag @exercice.user.avatar, class: "avatar-answer" %>
          <%= @exercice.user.username %>
        </div>

        <div class="time-remaining">
          2 jours restants
        </div>

      </div>

    </div>

    <div class="answers">
      <div id="answer-form-block">
        <% if @answer.status == "pending" %>
        <div class="user-answer">



          <div id="answer_form_wrapper">
            <%= render 'answers/form', exercice: @exercice, answer: @answer %>
          </div>

        </div>
        <% end %>

      </div>
      <div class="other-answers" id='answers-index'>
        <ul>
          <% if @answer.status == "published" %>
            <div class="my-answer">
              <%= render 'answers/show', answer: @answer %>
            </div>
          <% end %>

          <% @answers.each do |answer| %>
            <% next if answer == @answer %>
            <%= render 'answers/show', answer: answer %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>








